In [4]:
import pandas as pd
from src import utils

In [5]:
pd.set_option("display.max_columns", None)

In [6]:
df = utils.get_dataframe()

In [7]:
df['가입자일련번호'] = [i for i in range(1000000)]

In [8]:
column_mapper = {
    "연령대코드(5세단위)": "나이",
    "신장(5cm단위)": "키",
    "체중(5kg단위)": "체중",
    "시력(좌)": "시력_좌",
    "시력(우)": "시력_우",
    "청력(좌)": "청력_좌",
    "청력(우)": "청력_우",
    "식전혈당(공복혈당)": "식전혈당",
    "혈청지오티(AST)": "혈청지오티",
    "혈청지피티(ALT)": "혈청지피티"
}

df = df.rename(column_mapper, axis=1)

In [9]:
region_mapper = {
    11: "서울",
    26: "부산",
    27: "대구",
    28: "인천",
    29: "광주",
    30: "대전",
    31: "울산",
    36: "세종",
    41: "경기",
    42: "강원",
    43: "충북",
    44: "충남",
    45: "전북",
    46: "전남",
    47: "경북",
    48: "경남",
    49: "제주"
    
}
df["시도코드"] = df["시도코드"].apply(lambda x: region_mapper[x])

KeyError: '경기'

In [ ]:
df['성별'] = df['성별'].apply(lambda x: "여" if x == 2 else "남")

In [ ]:
df['나이'] = df['나이'] * 5

In [10]:
from src import Path
path = Path()

df.to_csv(str(path.data_path / "data.csv"), index=False)

In [11]:
# io 시간 체크
import pandas as pd
from time import time
begin = time()
df = pd.read_csv(str(path.data_path / "data.csv"))
end = time()
print(f"{end - begin:.3f}")

1.152

In [13]:
# io 시간 체크
import pandas as pd
from time import time
begin = time()
df = utils.get_dataframe()
end = time()
print(f"{end - begin:.3f}")

0.000

In [ ]:
utils.get_personal_info(df, 1)['성별']

In [ ]:
user_info = utils.get_personal_info(df, 1)
age = user_info['나이']
gender = user_info['성별']
df = df.query(f'성별 == "{gender}" and 나이 == {age}')

In [ ]:
continuous = ['키', '체중', '허리둘레', '시력_좌', '시력_우', '청력_좌', '청력_우', '수축기혈압', '이완기혈압',
              '식전혈당', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤', '혈색소', '요단백',
              '혈청크레아티닌', '혈청지오티', '혈청지피티', '감마지티피']

categorical = ['흡연상태', '음주여부', '구강검진수검여부', '치아우식증유무', '치석']

In [ ]:
df['치아우식증유무'].unique()

In [16]:
df.agg({"나이": "mean"}).item()

52.782595

In [27]:
df.groupby('치아우식증유무').agg({"치아우식증유무": "count"})

         치아우식증유무
치아우식증유무
0.0       285351
1.0        58978

In [28]:
df["치아우식증유무"].mode()

0    0.0
Name: 치아우식증유무, dtype: float64

In [2]:
from src import process

In [4]:
res = process.get_group_info(user_id=0, to_string=True)

In [8]:
utils.get_personal_info(user_id=0)

{'기준년도': 2022,
 '가입자일련번호': 0,
 '시도코드': '경기',
 '성별': '여',
 '나이': 70,
 '키': 160,
 '체중': 75,
 '허리둘레': 89.0,
 '시력_좌': 1.0,
 '시력_우': 1.0,
 '청력_좌': 1.0,
 '청력_우': 1.0,
 '수축기혈압': 127.0,
 '이완기혈압': 73.0,
 '식전혈당': 84.0,
 '총콜레스테롤': nan,
 '트리글리세라이드': nan,
 'HDL콜레스테롤': nan,
 'LDL콜레스테롤': nan,
 '혈색소': 14.8,
 '요단백': 1.0,
 '혈청크레아티닌': 0.8,
 '혈청지오티': 25.0,
 '혈청지피티': 20.0,
 '감마지티피': 15.0,
 '흡연상태': 1.0,
 '음주여부': 0.0,
 '구강검진수검여부': 0,
 '치아우식증유무': nan,
 '치석': nan}